<header>
  <!-- Title -->
  <div style="display:flex; flex-wrap: wrap; flex-direction:row; width: 100%; align-items: baseline; margin-bottom: -25px;">
    <h1 style="margin-bottom: 0px;">
      <a tyle="text-decoration: none;">
        <%= theme.title %>
      </a>
    </h1>
    <a style=" margin-left: auto; font-size: 0.8rem;" id="siteBannerLink" href="/2011/10/13/abandoned-power-station/">Abandoned Power Station</a>
  </div>
  <!-- Site Banner Image -->

  <a href="/">
    <img id="siteBanner" class="banner" src="/images/banner-warehouse-1.png" />
  </a>

  <script>
    var banners = [
      { imgUrl: "/images/banner-fractal.png", title: "Fun with Instancing In Cycles", url: "/2012/07/04/fun-with-instancing-in-cycles/" },
      { imgUrl: "/images/banner-temple.png", title: "Blender Masterclass", url: "/2013/01/04/blender-master-class-a-hands-on-guide-to-modeling-sculpting-materials-and-rendering/" },
      { imgUrl: "/images/banner-spiderbot.png", title: "Blender Masterclass", url: "/2013/01/04/blender-master-class-a-hands-on-guide-to-modeling-sculpting-materials-and-rendering/" },
      { imgUrl: "/images/banner-pirate.jpg", title: "Blending Life 2010", url: "/2010/02/24/blending-life-2010" },
      { imgUrl: "/images/banner-warehouse-3.png", title: "Abandoned Power Station", url: "/2011/10/13/abandoned-power-station/" },
      { imgUrl: "/images/banner-warehouse-2.png", title: "Abandoned Power Station", url: "/2011/10/13/abandoned-power-station/" },
      { imgUrl: "/images/banner-warehouse-1.png", title: "Abandoned Power Station", url: "/2011/10/13/abandoned-power-station/" },
      { imgUrl: "/images/banner-circle-packing.png", title: "Mitchell's Best Candidate Algorithm", url: "/2023/02/22/circle-packing/" },
      { imgUrl: "/images/banner-perlin-snakes.png", title: "Perlin Snakes", url: "/2023/02/19/perlin-snakes/" },
      { imgUrl: "/images/banner-kumiko.svg", title: "Kumiko Grids", url: "/2023/02/1/2023/02/28/kumiko-grids/" },
    ];
    var randomNum = Math.floor(Math.random() * banners.length);
    document.getElementById("siteBanner").src = banners[randomNum].imgUrl;
    document.getElementById("siteBannerLink").href = banners[randomNum].url;
    document.getElementById("siteBannerLink").textContent = banners[randomNum].title;

  </script>

  <!-- Navbar -->
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% for (name in theme.navbar) { %>
        <li><a href="<%- url_for(theme.navbar[name])%>"><%- name %></a></li>
        <% }%>
    </ul>
  </nav>
  <hr />
</header>